[submodule "src/main/java/teamrtg/rtg/content"]
	path = src/main/java/teamrtg/rtg/content
	url = https://github.com/topisani/RTG-content
[submodule "src/content"]
	path = src/content
	url = https://github.com/topisani/RTG-content
[submodule "src/rtg-api"]
	path = src/rtg-api
	url = https://github.com/topisani/RTG-api
